
/*import necessary fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400&display=swap');


/* import all tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* commons */
:root {
    font-size: 16px;
}

/* Font sizes for title */
/* 82px */
.text-title-huge{
    font-size: 5em;
}
/* 56px */
.text-title-large{
    font-size: 3.5em;
}
/* 50px */
.text-title-medium{
    font-size: 3em;
}
/* 32px, 30px */
.text-title-normal{
    font-size: 2em;
}
/* 24px */
.text-title-small{
    font-size: 1.5em;
}


/* Font size for paragraphs */
/* 20px */
.text-para-huge{
    font-size: 1.25em;
}
/* 18px */
.text-para-large{
    font-size: 1.125em;
}
/* 16px */
.text-para-medium{
    font-size: 1em;
}
/* 14px,13px */
.text-para-normal{
    font-size:0.875em;
}
/* 8px */
.text-para-small{
    font-size: 0.5em;
}


/* specifics */
.bg-1st{
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 100% 0%, hsla(53,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 100% 44%, hsla(107,53%,58%,1) 0px, transparent 50%),
	radial-gradient(at 67% 13%, hsla(60,93%,63%,1) 0px, transparent 50%);
}
.bg-2nd{
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 0% 69%, hsla(83,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 0% 29%, hsla(193,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 26% 5%, hsla(199,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 100% 0%, hsla(33,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 34% 42%, hsla(34,100%,59%,1) 0px, transparent 50%),
	radial-gradient(at 57% 53%, hsla(200,69%,70%,1) 0px, transparent 50%),
	radial-gradient(at 52% 0%, hsla(60,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 0% 100%, hsla(60,0%,100%,1) 0px, transparent 50%);
}
.bg-3rd{
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 6% 1%, hsla(43,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 100% 0%, hsla(53,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 35% 61%, hsla(200,69%,70%,0.65) 0px, transparent 50%),
	radial-gradient(at 5% 37%, hsla(45,74%,59%,0.79) 0px, transparent 50%);
}
.bg-4th{
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 49% 24%, hsla(45,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 99% 2%, hsla(323,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 89% 36%, hsla(99,100%,70%,1) 0px, transparent 50%),
	radial-gradient(at 89% 35%, hsla(49,100%,84%,1) 0px, transparent 50%),
	radial-gradient(at 95% 50%, hsla(176,39%,60%,1) 0px, transparent 50%),
	radial-gradient(at 100% 37%, hsla(350,95%,80%,1) 0px, transparent 50%),
	radial-gradient(at 48% 58%, hsla(18,0%,100%,1) 0px, transparent 50%),
	radial-gradient(at 77% 8%, hsla(343,0%,100%,1) 0px, transparent 50%);
}
#testimonial-slider {
	display: flex;
	position: relative;
	transition: left 0.5s;
}